#kof {
    width: 1280px;
    height: 720px;

    background-image: url('../images/test/background/0.gif');
    background-size: 200% 100%;
    background-position: top;
}

#kof>.kof-head {
    width: 100%;
    height: 80px;
    /* background-color: lightblue; */
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

#kof>.kof-head>.kof-head-hp0 {
    height: 40px;
    width: calc(50% - 60px);

    margin-left: 20px;
    border: white 3px solid;
    border-right: none;
    box-sizing: border-box;
    opacity: 95%;
}

#kof>.kof-head>.kof-head-timer {
    height: 60px;
    width: 80px;
    background-color: orange;
    border: white 3px solid;
    border-radius: 5px;
    box-sizing: border-box;
    user-select: none;

    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    align-content: center;
    opacity: 95%;
}

#kof>.kof-head>.kof-head-hp1 {
    height: 40px;
    width: calc(50% - 60px);

    border: white 3px solid;
    border-left: none;
    box-sizing: border-box;
    opacity: 95%;
}

#kof>.kof-head>.kof-head-hp0>div {
    background-color: red;
    width: 100%;
    height: 100%;
    float: right;
}

#kof>.kof-head>.kof-head-hp1>div {
    background-color: red;
    width: 100%;
    height: 100%;
}

#kof>.kof-head>.kof-head-hp0>div>div {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    float: right;
}

#kof>.kof-head>.kof-head-hp1>div>div {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
}